{% extends 'ThinkCreativeCoreBundle::base.html.twig' %}

{% block meta %}
{{ parent() }}<meta name="generator" content="eZ Publish" />
{% endblock %}

{% block head_content %}
{% if pagedata.canonical is defined %}
<link rel="canonical" href="{{ pagedata.canonical }}" />
{% endif %}
{% endblock %}

{% block body %}
{% block content %}{% endblock %}
{% endblock %}
