<div style="border: solid 1px #000; margin: 8px; padding: 8px;">
    <div style="border-bottom: dashed 1px #000; padding: 4px;"><strong>{{ _name }}</strong></div>
    {% if _attributes|length %}
    <ul>
        {% for name, value in _attributes %}
        <li><strong>{{ name }}:</strong> {{ value }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div><strong style="display: block; margin: 8px;">No Attributes</strong></div>
    {% endif %}

    <div style="border-top: dashed 1px #000; padding: 4px;">
    {% if content %}{{ content|raw }}{% else %}<strong style="display: block; margin: 8px;">No Content</strong>{% endif %}
    </div>
</div>
